.gamemoir__login {
  display: flex;

  flex-direction: column;
  margin-top: 4rem;
  box-shadow: 10px 10px var(--color-bg);
}
.gamemoir__login img {
  margin: 2rem;
  width: 140px;
  height: 50px;
}

.gamemoir__login label {
  padding-left: 10px;
}
.gamemoir__login-email input {
  display: block;
  width: 40vh;
  padding: 5px 40px;
  margin: 0.5rem;
  background-color: var(--color-bg);
  border-radius: 8px;
  transition: 0.4s;
}
.gamemoir__login-password input {
  display: block;

  margin: 0.5rem;
  background-color: var(--color-bg);
  border-radius: 8px;
  transition: 0.4s;
}
.gamemoir__login button {
  margin-top: 1rem;
}
.gamemoir__login button input {
  padding: 5px 90px;
  letter-spacing: 2px;
}
/* .gamemoir__login-button input {
  border-radius: 0.25rem;
  margin: 0.5rem;
  font-family: var(--font-family);
  font-size: 1rem;
  padding: 0.25rem 6rem;
  color: aliceblue;
  box-shadow: 0 0 6px 0 rgba(157, 96, 212, 0.5);
  border: solid 3px transparent;
  background-image: linear-gradient(
      rgba(255, 255, 255, 0),
      rgba(255, 255, 255, 0)
    ),
    linear-gradient(101deg, #743ad5, #d53a9d);
  background-origin: border-box;
  background-clip: content-box, border-box;
}
.gamemoir__login-button input:hover {
  background: none;
} */
input {
  appearance: none;
  background: none;
  border: none;
  outline: none;
}
.gamemoir__login {
  font-family: var(--font-family);
  color: var(--color-text);
  margin: auto;
  height: auto;
  width: 42vh;
  padding: 2rem;

  /* background: var(--color-block); */
  background: -moz-radial-gradient(
    circle at 7% 19%,
    rgba(1, 23, 46, 1) 0%,
    rgba(4, 12, 24, 1) 100%
  );

  /* safari 5.1+,chrome 10+ */
  background: -webkit-radial-gradient(
    circle at 7% 19%,
    rgba(1, 23, 46, 1) 0%,
    rgba(4, 12, 24, 1) 100%
  );

  /* opera 11.10+ */
  background: -o-radial-gradient(
    circle at 7% 19%,
    rgba(1, 23, 46, 1) 0%,
    rgba(4, 12, 24, 1) 100%
  );

  /* ie 10+ */
  background: -ms-radial-gradient(
    circle at 7% 19%,
    rgba(1, 23, 46, 1) 0%,
    rgba(4, 12, 24, 1) 100%
  );

  /* global 92%+ browsers support */
  background: radial-gradient(
    circle at 7% 19%,
    rgba(1, 23, 46, 1) 0%,
    rgba(4, 12, 24, 1) 100%
  );
  border-left: 1px solid;

  border-image-slice: 1;

  border-image: linear-gradient(to bottom, #040c18, #743ad5, #d53a9d, #040c18) 1
    100%;
  box-shadow: 0 1px 17px rgba(0, 0, 0, 0.3);
}
